
server:
  port: 8082

spring:
  mail:
    host: localhost
    port: 1025
    username: hello
    password: hello

    properties:
      mail:
        smtp:
          ssl:
            trust: "*"
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
  datasource:
    url: jdbc:postgresql://localhost:5433/postgres
    driverClassName: org.postgresql.Driver
    username: postgres
    password: qwerty
  jpa:
    hibernate:
      ddl-auto: none
  liquibase:
    change-log: classpath:/db.changelog/changelog-master.yml
    enabled: true
    drop-first: false
    mail:


